# Dependency folders
**/node_modules/
node_modules/

# Environment files
**/.env
.env
**/.env.local
.env.local

# Build folders
**/dist/
dist/
**/build/
build/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
